.imgStyle{
	background-image:url("../../../../public/images/diet.jpg");
	width: 1300px;
	height: 733px;
	border: 5px solid #b56357;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}
.sss{width: 500px;
	}
h1{font-family: 'Lobster', cursive;
color: #b56357;}
