
	<div class="imgStyle" ><h1>ABOUT US</h1><p class="sss">
  In Home food Recipes provide you recipes of home food.These recipes are passed through generations or which have been consumed many generations. In this we share the recipes of mothers and grandmothers those she make at home for their families and children.The speciality of these recipes is that these are healthy and traditional.
</p><p>
we include only those recipes those are easy to make, loved by generations,good for health.
	</p>
</div> 

