.backg{
/*	background-color:#b56357;*/
	color: #b56357;
	border-bottom: solid 8px white;
	font-family: 'Lobster', cursive;		 	
}
.ss{font-size:17px;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #b56357;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: #b56357;
	border-radius: 50px;
  background-color: white;
}
		.b2{background-color:  #b56357;}