<div class="detailbox"><app-header [content]="pageContent.header"></app-header>
	<table id="design">
	<tr><td class="td">Recipe</td><td class="td"> {{newRecipe.name}}</td></tr>
	<tr><td class="td">Type </td><td class="td">{{newRecipe.type}}</td></tr>
	<tr><td class="td">Category </td><td class="td">{{newRecipe.category}}</td></tr>
	<tr><td class="td">preparation Time </td><td class="td">{{newRecipe.preparationTime}}</td></tr>
	<tr><td class="td">Ingredients </td><td class="td">{{newRecipe.ingredients}}</td></tr>
	<tr><td class="td">Nutrition </td><td class="td">{{newRecipe.nutrition}}</td></tr>
	</table>
<a [routerLink]="['/update', newRecipe._id]" ><button class="sp">update</button></a>
<button onclick=deleteRecipe(newRecipe._id) class="sp">delete</button>
	</div>