@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
h1, h2, h3, h4, h5,h6 {
font-family: 'Lobster', cursive;
}
h1{color:#b56357 }
h6{color:#b56357 }
.navbar {
background-color: #b56357;
border-color: #ff704d;
	border:4px solid #dcc7aa;
	border-radius: 20px;
	margin-bottom: 20px;
	
}
.backGround{
	background-color:#b4dbc0;
	height: 100px;
	width:400px;
}
.navbar-brand {
font-family: 'Lobster', cursive;
color: #ffffff;
}

p {
margin-bottom: 0.65rem;
	font-family: 'cursive', serif;
	font-size: 17px;
}
.list-group-item{background-color: bisque;}
a {
color: rgba(255, 255, 255, 0.8)
}
a:hover {
color:#fff;
}
a.cc{color: black;}
a.cc:hover {
color:#b56357;
}
.contain{
	background-color: black;
}

body {
font-family: "Cabin", Arial, sans-serif;
color: #000000;
background-size:  cover;
	background-color: #fdf5ee;
	background-image: url(../images/b.jpg);
		background-repeat: no-repeat;
 
  background-position: center top; 
		margin-top:140px;
	background-repeat: no-repeat;
	height: 100%;
	
	
}
.formclass{
	margin-left: 50px;
	padding: 20px;
	color:#b56357;
	width: 500px;
	background-color:#fdf5ee;
}
.formclass2{
	margin-left: 50px;
}
.navbar-toggler{
	background-color: white;
}
li a{
	color: white;
}
.space{margin-top: 30px;
}
@media only screen and (max-width: 1200px) {
 
body {
    background-color: white;
	  margin-top:100px;
	background-image: url(../images/b2.jpg);
  }
	@media only screen and (max-width: 800px) {
 
body {
    background-color: white;
	  margin-top:100px;
	background-image: url(../images/b3.jpg);
  }
  
}


@media only screen and (max-width: 650px) {
  body {
	  
    background-color: white;
	  background-image: none;
  }
	#bag{background-image: none;
	
}